[submodule "external/dwm"]
	path = external/dwm
	url = git@github.com:n00by-common/dwm.git
[submodule "external/st"]
	path = external/st
	url = git@github.com:n00by-common/st.git
[submodule "external/dmenu"]
	path = external/dmenu
	url = git@github.com:n00by-common/dmenu
